<div data-ng-init="init()">

    <div ng-show="showForm">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 ng-if="editPage">Edit dictionary</h2>
                <h2 ng-if="!editPage">Create new dictionary</h2>
            </div>
            <div class="panel-body">
                <form class="form-horizontal p-a-1" name="newDictionaryForm" novalidate>
                    <div class="form-group" show-errors>
                        <label for="name" class="col-sm-2 control-label">Dictionary name:</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="newDictionary.name" name="name" class="form-control" id="name" required>
                            <p class="help-block" ng-if="newDictionaryForm.name.$error.required">The dictionary name is required</p>
                        </div>
                    </div>
                    <div class="form-group" ng-if="editPage" show-errors>
                        <label for="code" class="col-sm-2 control-label">Dictionary short code:</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="newDictionary.code" name="code" class="form-control" id="code" disabled="disabled" required>
                            <p class="help-block" ng-if="newDictionaryForm.code.$error.required">The dictionary short code is required</p>
                        </div>
                    </div>
                    <div class="form-group" ng-if="!editPage" show-errors>
                        <label for="code" class="col-sm-2 control-label">Dictionary short code:</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="newDictionary.code" name="code" class="form-control" id="code" required>
                            <p class="help-block" ng-if="newDictionaryForm.code.$error.required">The dictionary short code is required</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="publishDictionary" class="col-sm-2 control-label">Publish dictionary:</label>

                        <div class="col-sm-10">
                            <input type="checkbox" ng-model="newDictionary.publishDictionary" name="publishDictionary"
                                   id="publishDictionary">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="licence" class="col-sm-2 control-label">Licence:</label>

                        <div class="col-sm-10">
                            <selectize config='licenceMyConfig' id="licence" options='licences'
                                       ng-model="newDictionary.licence"></selectize>
                        </div>
                    </div>


                    <hr>
                    <h4>Entry structure:</h4>

                    <div class="row">
                        <div class="col-sm-12">
                            <div ui-tree id="tree-root">
                                <ol ui-tree-nodes ng-model="newDictionary.containers">
                                    <li ng-repeat="container in newDictionary.containers" ui-tree-node ng-include="'container_renderer.html'"></li>
                                </ol>
                            </div>
                        </div>
                    </div>

                    <script type="text/ng-template" id="container_renderer.html">
                        <div ui-tree-handle class="tree-node tree-node-content row">
                            <ng-form name="innerForm">
                                <input type="hidden" ng-model="container.id">
                                <label for="element" class="col-sm-1 control-label" data-nodrag>Element</label>
                                <div class="col-sm-2" ng-class="{ 'has-error': innerForm.element.$error.required }" data-nodrag>
                                    <input type="text" ng-model="container.element" name="element" class="form-control" id="element" required>
                                </div>
                                <label for="label" class="col-sm-1 control-label" data-nodrag>Label</label>
                                <div class="col-sm-1" ng-class="{ 'has-error': innerForm.label.$error.required }" data-nodrag>
                                    <input type="text" ng-model="container.label" name="label" class="form-control" id="label" required>
                                </div>
                                <label for="headword" class="col-sm-1 control-label" data-nodrag>Headword</label>
                                <div class="col-sm-1" data-nodrag>
                                    <input type="radio" name="headword" ng-change="changeHeadword(container.id)" ng-model="container.headword" id="headword" value="true">
                                </div>
                                <label for="multiple" class="col-sm-1 control-label" data-nodrag>Multiple</label>
                                <div class="col-sm-1" data-nodrag>
                                    <input type="checkbox" ng-model="container.multiple" id="multiple" >
                                </div>
                                <label for="required" class="col-sm-1 control-label" data-nodrag>Required</label>
                                <div class="col-sm-1" data-nodrag>
                                    <input type="checkbox" ng-model="container.required" id="required" >
                                </div>
                                <label for="type" class="col-sm-1 control-label" data-nodrag>Type</label>
                                <div class="col-sm-1" ng-class="{ 'has-error': innerForm.type.$error.required }">
                                    <select ng-model="container.type" name="type" class="form-control" id="type" data-nodrag required>
                                        <option value="text">text</option>
                                        <option value="textarea">textarea</option>
                                        <option value="number">number</option>
                                        <option value="container">container</option>
                                        <option value="file">file</option>
                                        <option value="select">select</option>
                                        <option value="crossreference">crossreference</option>
                                    </select></div>
                                <label ng-show="container.type=='select'" for="options" class="col-sm-1 control-label" data-nodrag>Options</label>
                                <div ng-show="container.type=='select'" ng-class="{ 'has-error': innerForm.options.$error.required }" class="col-sm-2" data-nodrag>
                                    <input type="text" ng-model="container.options" name="options" class="form-control" id="options" ng-required="container.type == 'select'" placeholder="Separate by comma ','">
                                </div>
                                <label ng-show="container.type=='crossreference'" for="crossreference_dict"
                                       class="col-sm-1 control-label" data-nodrag>Cross ref dict</label>

                                <div ng-show="container.type=='crossreference'" class="col-sm-2"
                                     ng-class="{ 'has-error': innerForm.crossreference_dict.$error.required }">
                                    <select ng-model="container.crossreference_dict" name="crossreference_dict"
                                            class="form-control" id="crossreference_dict" data-nodrag
                                            ng-required="container.type == 'crossreference'">
                                        <option style="display:none" value="">Choose dict</option>
                                        <option ng-repeat="availableDict in availableDicts track by availableDict.code"
                                                value="{{availableDict.code}}">{{availableDict.name}}
                                        </option>
                                    </select>
                                </div>

                                <a data-nodrag ng-click="removeContainer(newDictionary.containers, container.id)"
                                   class="btn btn-danger pull-right" title="Remove element">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            </ng-form>
                        </div>
                        <ol ng-if="container.type!='container'" ui-tree-nodes="" data-nodrop-enabled="true" ng-model="container.containers" ng-class="{hidden: collapsed}">
                            <li ng-repeat="container in container.containers" ui-tree-node ng-include="'container_renderer.html'">
                            </li>
                        </ol>

                        <ol ng-if="container.type=='container'" ui-tree-nodes="" ng-model="container.containers" ng-class="{hidden: collapsed}">
                            <li ng-repeat="container in container.containers" ui-tree-node ng-include="'container_renderer.html'">
                            </li>
                        </ol>
                    </script>

                    <button type="button" ng-click="addContainer()" class="btn btn-primary">
                        Add element
                    </button>

                    <div class="clearfix"></div>

                    <button ng-if="editPage" type="button" ng-click="saveDictionary()" class="btn btn-success pull-right">
                        Edit dictionary
                    </button>
                    <button ng-if="!editPage" type="button" ng-click="saveDictionary()" class="btn btn-success pull-right">
                        Create dictionary
                    </button>
                </form>
            </div>
        </div>


        <div ng-if="editPage">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <h2 class="col-sm-6 text-left">
                            Users
                        </h2>
                        <div class="col-sm-6 text-right">
                            <button class="btn btn-primary bottom" type="button" data-toggle="collapse" data-target="#addUser" aria-expanded="false">
                                <i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Add user
                            </button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="panel panel-default collapse" id="addUser">
                        <div class="panel-heading">
                            <b>New User</b>
                        </div>
                        <div class="panel-body">
                            <form class="form-inline p-a-1" name="userForm">
                                <label for="user" class="col-sm-1 control-label">User</label>
                                    <div class="col-sm-6">
                                        <selectize config='usersMyConfig' id="user" options='users' ng-model="addedUser.login"></selectize>
                                    </div>
                                <label for="permission" class="col-sm-1 control-label">Permission</label>
                                <div class="col-sm-2">
                                    <select ng-model="addedUser.perm" id="permission" class="form-control" style="width:100%;" required>
                                        <option value="r" ng-selected="true">Read only</option>
                                        <option value="w">Editor</option>
                                        <option value="m">Manager</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <button type="button" ng-click="addUser(addedUser)" class="btn btn-success">
                                        Add user
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <table st-table="dictionaryUsersDisplayed" st-safe-src="dictionaryUsers" class="table table-striped p-a-1">
                        <thead>
                            <tr>
                                <th st-sort="login">Login</th>
                                <th st-sort="name">Name</th>
                                <th st-sort="email">Email</th>
                                <th class="vtop">Permission</th>
                                <th class="text-right vtop">Action</th>
                            </tr>
                            <tr>
                                <td><input st-search="login" placeholder="Search for login . . ." class="form-control"/>
                                </td>
                                <td><input st-search="name" placeholder="Search for name . . ." class="form-control"/>
                                </td>
                                <td><input st-search="email" placeholder="Search for email . . ."
                                           class="input-sm form-control"/></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="user in dictionaryUsersDisplayed">
                            <td>{{user.login}}<span ng-if="user.login == dictionaryOwner" class="label label-primary" style="margin-left: 10px;">Owner</span></td>
                            <td>{{user.name}}</td>
                            <td>{{user.email}}</td>
                            <td>
                                <select ng-if="user.login != dictionaryOwner" ng-model="user.perm"
                                        ng-change="savePermission(user)" class="form-control">
                                    <option value="r">Read only</option>
                                    <option value="w">Editor</option>
                                    <option value="m">Manager</option>
                                </select>
                                <span ng-if="user.login == dictionaryOwner">Manager</span>
                            </td>
                            <td class="text-right">
                                <a ng-if="user.login != dictionaryOwner" ng-click="removeUser($event, user.login)"
                                   class="btn  btn-xs btn-danger" data-title="Remove user">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <h2 class="col-sm-6 text-left">
                            XSLT output templates
                        </h2>
                        <div class="col-sm-6 text-right">
                            <button class="btn btn-primary bottom" type="button" data-toggle="collapse" data-target="#addXsltTemplate" aria-expanded="false">
                                <i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Add XSLT template
                            </button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="panel panel-default collapse" id="addXsltTemplate">
                        <div class="panel-heading">
                            <b>New XSLT output templates</b> <small><a href="http://zvon.org/xxl/XSLTutorial/Output/" target="_blank">(info)</a></small>
                        </div>
                        <div class="panel-body">
                            <form class="form-horizontal p-a-1" name="xsltForm" novalidate>
                                <div class="form-group" style="display: inline" show-errors="">
                                    <label for="nameAddedXT" class="col-sm-1 control-label" data-nodrag>Name</label>
                                    <div class="col-sm-11" data-nodrag>
                                        <input type="text" style="width: 50%" ng-model="addedXSLTTemplate.name" name="name" class="form-control" id="nameAddedXT" required>
                                        <p class="help-block"  style="margin-top: -27px; left: 52%; position: absolute;" ng-if="xsltForm.name.$error.required">The name of xslt template is required</p>
                                    </div>
                                </div>
                                <div class="form-group" style="display: inline" show-errors="">
                                    <label for="codeAddedXT" class="col-sm-1 control-label" data-nodrag>Code</label>
                                    <div class="col-sm-11" data-nodrag>
                                        <input type="text" style="width: 50%" ng-model="addedXSLTTemplate.code" name="code" class="form-control" id="codeAddedXT" required>
                                        <p class="help-block" style="margin-top: -27px; left: 52%; position: absolute;" ng-if="xsltForm.code.$error.required">The code of xslt template is required</p>
                                    </div>
                                </div>
                                <div class="form-group" show-errors="">
                                    <label for="templateAddedxT" class="col-sm-1 control-label" data-nodrag>Template</label>
                                    <div class="col-sm-11" data-nodrag>
                                        <textarea ng-model="addedXSLTTemplate.template" rows="5" name="template" class="form-control" id="templateAddedxT"required></textarea>
                                        <p class="help-block" ng-if="xsltForm.template.$error.required">The template of xslt template is required</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" data-nodrag>Default template for
                                        dictionary</label>

                                    <div class="col-sm-1" data-nodrag>
                                        <input type="checkbox" ng-model="addedXSLTTemplate.default">
                                    </div>
                                </div>
                                <div class="form-group text-right">
                                    <a ng-click="generateXSLTTemplate(addedXSLTTemplate)" class="btn  btn-info"
                                       data-title="Generate from setting">
                                        <i class="fa fa-star" aria-hidden="true"></i>&nbsp; Generate from setting
                                    </a>
                                    <a ng-click="addXSLTTemplate(xsltForm)" class="btn btn-success"
                                       data-title="Create XSLT template">
                                        <i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Create
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>

                    <h2>XSLT output templates <small><a href="http://zvon.org/xxl/XSLTutorial/Output/" target="_blank">(info)</a></small></h2>
                    <div ng-repeat="xsltTemplate in xsltTemplates">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <form class="form-horizontal p-a-1" name="xsltForm" novalidate>
                                    <div class="form-group" style="display: inline" show-errors="">
                                        <label for="nameXT" class="col-sm-1 control-label" data-nodrag>Name</label>
                                        <div class="col-sm-11" data-nodrag>
                                            <input type="text" style="width: 50%" ng-model="xsltTemplate.name" name="name" class="form-control" id="nameXT" required>
                                            <p class="help-block" style="margin-top: -27px; left: 52%; position: absolute;" ng-if="xsltForm.name.$error.required">The name of xslt template is required</p>
                                        </div>
                                    </div>
                                    <div class="form-group" style="display: inline" show-errors="">
                                        <label for="codeXT" class="col-sm-1 control-label" data-nodrag>Code</label>
                                        <div class="col-sm-11" data-nodrag>
                                            <input type="text" style="width: 50%" ng-model="xsltTemplate.code" name="code" class="form-control" id="codeXT" disabled="disabled" required>
                                            <p class="help-block" style="margin-top: -27px; left: 52%; position: absolute;" ng-if="xsltForm.code.$error.required">The code of xslt template is required</p>
                                        </div>
                                    </div>
                                    <div class="form-group" show-errors="">
                                        <label for="templateXT" class="col-sm-1 control-label" data-nodrag>Template</label>
                                        <div class="col-sm-11" data-nodrag>
                                            <textarea ng-model="xsltTemplate.template" name="template" rows="5" class="form-control" id="templateXT" required></textarea>
                                            <p class="help-block" style="margin-top: -27px; left: 52%; position: absolute;" ng-if="xsltForm.template.$error.required">The template of xslt template is required</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" data-nodrag>Default template for
                                            dictionary</label>

                                        <div class="col-sm-1" data-nodrag>
                                            <input type="checkbox" ng-model="xsltTemplate.default">
                                        </div>
                                    </div>
                                    <div class="form-group text-right">
                                        <a ng-click="generateXSLTTemplate(xsltTemplate)" class="btn btn-info"
                                           data-title="Generate from setting">
                                            <i class="fa fa-star" aria-hidden="true"></i>&nbsp; Generate from setting
                                        </a>
                                        <a ng-click="editXSLTTemplate(xsltTemplate, xsltForm)" class="btn btn-success"
                                           data-title="Save XSLT template">
                                            <i class="fa fa-save" aria-hidden="true"></i>&nbsp; Save
                                        </a>
                                        <a ng-click="removeXSLTTemplate($event, xsltTemplate)" class="btn btn-danger"
                                           data-title="Remove XSLT template">
                                            <i class="fa fa-trash" aria-hidden="true"></i>&nbsp; Remove
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <h2 class="col-sm-6 text-left">
                            Handlebar output templates
                        </h2>
                        <div class="col-sm-6 text-right">
                            <button class="btn btn-primary bottom" type="button" data-toggle="collapse" data-target="#addHandlebarTemplate" aria-expanded="false">
                                <i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Add Handlebar template
                            </button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="panel panel-default collapse" id="addHandlebarTemplate">
                        <div class="panel-heading">
                            <b>New Handlebar output templates</b> <small><a href="http://handlebarsjs.com/" target="_blank">(info)</a></small>
                        </div>
                        <div class="panel-body">
                            <form class="form-horizontal p-a-1" name="handlebarForm" novalidate>
                                <div class="form-group" style="display: inline;" show-errors="">
                                    <label for="nameAddedHT" class="col-sm-1 control-label" data-nodrag>Name</label>
                                    <div class="col-sm-11" data-nodrag>
                                        <input type="text" style="width: 50%" ng-model="addedHtmlTemplate.name" name="name" class="form-control" id="nameAddedHT" required>
                                        <p class="help-block" style="margin-top: -27px; left: 52%; position: absolute;" ng-if="handlebarForm.name.$error.required">The name of handlebar template is required</p>
                                    </div>
                                </div>
                                <div class="form-group" style="display: inline;" show-errors="">
                                    <label for="codeAddedHT" class="col-sm-1 control-label" data-nodrag>Code</label>
                                    <div class="col-sm-11" data-nodrag>
                                        <input type="text" style="width: 50%" ng-model="addedHtmlTemplate.code" name="code" class="form-control" id="codeAddedHT" required>
                                        <p class="help-block" style="margin-top: -27px; left: 52%; position: absolute;" style="margin-top: -27px; left: 52%; position: absolute;" ng-if="handlebarForm.code.$error.required">The code of handlebar template is required</p>
                                    </div>
                                </div>
                                <div class="form-group" show-errors="">
                                    <label for="templateAddedHT" class="col-sm-1 control-label" data-nodrag>Template</label>
                                    <div class="col-sm-11" data-nodrag>
                                        <textarea ng-model="addedHtmlTemplate.template" name="template" rows="5" class="form-control" id="templateAddedHT" required></textarea>
                                        <p class="help-block" ng-if="handlebarForm.template.$error.required">The template of handlebar template is required</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" data-nodrag>Default template for
                                        dictionary</label>

                                    <div class="col-sm-1" data-nodrag>
                                        <input type="checkbox" ng-model="addedHtmlTemplate.default">
                                    </div>
                                </div>
                                <div class="form-group text-right">
                                    <a ng-click="generateHandlebar(addedHtmlTemplate)" class="btn  btn-info"
                                       data-title="Generate from setting">
                                        <i class="fa fa-star" aria-hidden="true"></i>&nbsp; Generate from setting
                                    </a>
                                    <a ng-click="addHandlebar(handlebarForm)" class="btn btn-success"
                                       data-title="Create handlebar">
                                        <i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Create
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>

                    <h2>Handlebars output templates <small><a href="http://handlebarsjs.com/" target="_blank">(info)</a></small></h2>
                    <div ng-repeat="htmlTemplate in htmlTemplates">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <form class="form-horizontal p-a-1" name="handlebarForm" novalidate>
                                    <div class="form-group" style="display:inline;" show-errors="">
                                        <label for="nameHT" class="col-sm-1 control-label" data-nodrag>Name</label>
                                        <div class="col-sm-11" data-nodrag>
                                            <input type="text" style="width: 50%;" ng-model="htmlTemplate.name" name="name" class="form-control" id="nameHT" required>
                                            <p class="help-block" style="margin-top: -27px; left: 52%; position: absolute;" ng-if="handlebarForm.name.$error.required">The name of handlebar template is required</p>
                                        </div>
                                    </div>
                                    <div class="form-group" style="display:inline;" show-errors="">
                                        <label for="codeHT" class="col-sm-1 control-label" data-nodrag>Code</label>
                                        <div class="col-sm-11" data-nodrag>
                                            <input type="text" style="width: 50%;" ng-model="htmlTemplate.code" name="code" class="form-control" id="codeHT" disabled="disabled" required>
                                            <p class="help-block" style="margin-top: -27px; left: 52%; position: absolute;" ng-if="handlebarForm.code.$error.required">The code of handlebar template is required</p>
                                        </div>
                                    </div>
                                    <div class="form-group" show-errors="">
                                        <label for="templateHT" class="col-sm-1 control-label" data-nodrag>Template</label>
                                        <div class="col-sm-11" data-nodrag>
                                            <textarea ng-model="htmlTemplate.template" name="template" rows="5" class="form-control" id="templateHT" required></textarea>
                                            <p class="help-block" ng-if="handlebarForm.template.$error.required">The template of handlebar template is required</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" data-nodrag>Default template for
                                            dictionary</label>

                                        <div class="col-sm-1" data-nodrag>
                                            <input type="checkbox" ng-model="htmlTemplate.default">
                                        </div>
                                    </div>
                                    <div class="form-group text-right">
                                        <a ng-click="generateHandlebar(htmlTemplate)" class="btn btn-info"
                                           data-title="Generate from setting">
                                            <i class="fa fa-star" aria-hidden="true"></i>&nbsp; Generate from setting
                                        </a>
                                        <a ng-click="editHandlebar(htmlTemplate, handlebarForm)" class="btn btn-success"
                                           data-title="Save handlebar">
                                            <i class="fa fa-save" aria-hidden="true"></i>&nbsp; Save
                                        </a>
                                        <a ng-click="removeHandlebar($event, htmlTemplate)" class="btn btn-danger"
                                           data-title="Remove handlebar">
                                            <i class="fa fa-trash" aria-hidden="true"></i>&nbsp; Remove
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
