<div data-ng-init="init()">

    <h2>{{dictionary.dict_name}} (DEBWrite)</h2>

    <a ng-href="#/newEntry/{{dictionary.dict_code}}" class="btn btn-primary pull-right" style="margin-bottom: 3rem; margin-top: -2rem;">Create entry</a>

    <p>Preview all: <span ng-repeat="template in dictionary.templates">
                        <a href="previewXSLT.html?dict_code={{dictionary.dict_code}}&entry_id={{entriesId}}&template_code={{template.code}}" target="_blank">{{template.name}}</a> |
                    </span>
                    <!--<span ng-repeat="htemplate in dictionary.htemplates">-->
                        <!--<a href="previewXSLT.html?dict_code={{dictionary.dict_code}}&entry_id={{entriesId}}&template_code={{htemplate.code}}" target="_blank">{{htemplate.name}}</a> |-->
                    <!--</span>-->
    </p>
    <table st-table="entriesDisplayed" st-safe-src="entries" class="table table-striped">
        <thead>
        <tr>
            <th st-sort="head">Entry <input st-search="head" placeholder="Search for entry . . ." class="form-control"/></th>
            <th st-sort="author">Author <input st-search="author" placeholder="Search for author . . ." class="form-control"/></th>
            <th class="vtop">Last edit</th>
            <th class="vtop">XSLT Preview</th>
            <th class="vtop">Handlebars Preview</th>
            <th class="vtop">XML</th>
            <th class="text-right vtop">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="entry in entriesDisplayed">
            <td>{{entry.head}}</td>
            <td>{{entry.author}}</td>
            <td>{{entry.last_edit}}</td>
            <td>
                <span ng-repeat="template in dictionary.templates">
                    <a href="previewXSLT.html?dict_code={{dictionary.dict_code}}&entry_id={{entry.id}}&template_code={{template.code}}" target="_blank">{{template.name}}</a> |
                </span>
            </td>
            <td>
                <span ng-repeat="htemplate in dictionary.htemplates">
                    <a href="previewHandlebar.html?dict_code={{dictionary.dict_code}}&entry_id={{entry.id}}&template_code={{htemplate.code}}" target="_blank">{{htemplate.name}}</a> |
                </span>
            </td>
            <td><a href="https://abulafia.fi.muni.cz:9050/{{dictionary.dict_code}}?action=get&entry_id={{entry.id}}&format=xml" target="_blank">XML</a></td>
            <td class="text-right">
                <a ng-href="#/newEntry/{{dictionary.dict_code}}/{{entry.id}}" ng-if="dictionary.current_perm == 'm' || dictionary.current_perm == 'a' || dictionary.current_perm == 'e'" type="button" class="btn  btn-xs btn-info" uib-tooltip="Edit entry">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <button type="button" ng-click="removeEntry($event, entry.id)" ng-if="dictionary.current_perm == 'm' || dictionary.current_perm == 'a'" class="btn btn-xs btn-danger" uib-tooltip="Remove entry">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
            </td>
        </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="7" class="text-center">
                    <div st-pagination="" st-items-by-page="20" st-displayed-pages="10"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

