/* app css stylesheet */

@media (min-width: 1400px)
{
  .container
  {
    width: 1390px !important;
  }
}

div#message {
  position: fixed;
  display: block;
  width: 100%;
  min-height: 50px;
  top: 50px;
  z-index: 1000;
}

.menu {
  list-style: none;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}


.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

div.form-group button.btn {
  margin: 0 10px 0 10px;
}

.p-a-1 {
  padding: 1rem;
}
.p-t-r-b-l-1-1-1-3 {
  padding: 1rem 1rem 1rem 3rem;
}

.p-t-b-1 {
  padding: 1rem 0 1rem 0;
}

.m-b-04 {
  margin-bottom: 0.4rem;
}

.l-1 {
  left: 1rem;
}
.vtop {
  vertical-align: top !important;
}

.remove-container-button {
   display: block;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   font-size: 14px;
   font-weight: 400;
   width: 4rem;
   line-height: 1.42857143;
   text-align: center;
   white-space: nowrap;
   vertical-align: middle;
   cursor: pointer;
   border: 1px solid #eea236;
   border-radius: 0px 4px 4px 0px;
   color: #fff;
   background-color: #f0ad4e;
 }

.remove-container-button:hover {
  background-color: #eea236;
}

.remove-container-button-icon {
  position: absolute;
  top: 50%;
  bottom: 50%;
}
.remove-container-button-icon.fa-minus:before {
  font-size: 2rem;
  margin-left: -1rem;
}
/*.form-horizontal.newEntry .row.cont {*/
  /*border: 1px solid black;*/
/*}*/

.form-group .help-block {
  display: none;
}

.form-group.has-error .help-block {
  display: block;
}

/** tree ui drag and drop **/

.angular-ui-tree-handle {
  background: #f8faff;
  border: 1px solid #dae2ea;
  color: #7c9eb2;
  padding: 10px 10px;
}

.angular-ui-tree-handle:hover {
  color: #438eb9;
  background: #f4f6f7;
  border-color: #dce2e8;
}

.angular-ui-tree-placeholder {
  background: #f0f9ff;
  border: 2px dashed #bed2db;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

tr.angular-ui-tree-empty {
  height:100px
}

.group-title {
  background-color: #687074 !important;
  color: #FFF !important;
}


/* --- Tree --- */
.tree-node {
  border: 1px solid #dae2ea;
  background: #f8faff;
  color: #7c9eb2;
}

.nodrop {
  background-color: #f2dede;
}

.tree-node-content {
  margin: 10px;
}
.tree-handle {
  padding: 10px;
  background: #428bca;
  color: #FFF;
  margin-right: 10px;
}

.angular-ui-tree-handle:hover {
}

.angular-ui-tree-placeholder {
  background: #f0f9ff;
  border: 2px dashed #bed2db;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.form-horizontal .control-label {
  text-align: left !important;
}

.col-sm-1, .col-xs-1, .col-md-1, .col-lg-1{
  width: auto !important;
}


.loading {
  position:absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100000;
  width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
}

#loader {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 15rem;
  height: 15rem;
  border: 16px solid #eee; /* circle */
  border-top: 16px solid #222; /* animate part */
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite;
  -ms-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


label.col-lg-1, label.col-lg-10, label.col-lg-11, label.col-lg-12, label.col-lg-2, label.col-lg-3, label.col-lg-4, label.col-lg-5, label.col-lg-6, label.col-lg-7, label.col-lg-8, label.col-lg-9, label.col-md-1, label.col-md-10, label.col-md-11, label.col-md-12, label.col-md-2, label.col-md-3, label.col-md-4, label.col-md-5, label.col-md-6, label.col-md-7, label.col-md-8, label.col-md-9, label.col-sm-1, label.col-sm-10, label.col-sm-11, label.col-sm-12, label.col-sm-2, label.col-sm-3, label.col-sm-4, label.col-sm-5, label.col-sm-6, label.col-sm-7, label.col-sm-8, label.col-sm-9, label.col-xs-1, label.col-xs-10, label.col-xs-11, label.col-xs-12, label.col-xs-2, label.col-xs-3, label.col-xs-4, label.col-xs-5, label.col-xs-6, label.col-xs-7, label.col-xs-8, label.col-xs-9 {
  padding-left: 0px !important;
  margin-right: -22px !important;
}
