<div data-ng-init="init()">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 ng-if="editPage">{{dictionary.dict_name}} - Edit entry</h2>
            <h2 ng-if="!editPage">{{dictionary.dict_name}} - Create new entry</h2>
        </div>
        <div class="panel-body">
            <form class="form-horizontal p-t-r-b-l-1-1-1-3" name="newEntryForm" ng-model-options="{ updateOn: 'blur' }"
                  novalidate>
                <div class="form-group">
                    <label for="publishEntry" class="col-sm-2 control-label">Publish:</label>

                    <div class="col-sm-10">
                        <input type="checkbox" ng-model="publishEntry" name="publishEntry" id="publishEntry">
                    </div>
                </div>
                <div class="form-group" ng-repeat="(key, container) in newEntry track by $index" ng-include="'container_renderer.html'">
                </div>
                <div class="row p-t-b-1">
                    <div class="col-sm-8">
                        <div class="col-sm-6">
                            <select class="form-control" ng-options="template.code as template.name group by template.parent for template in templatesList" ng-model="previewTemplate">
                            </select>
                        </div>
                        <button type="button" class="btn btn-default" ng-click="preparePreview()">Preview</button>
                    </div>
                    <div class="text-right col-sm-4">
                        <button ng-if="!editPage" ng-click="saveEntry($event, true)" type="submit"
                                class="btn btn-success">Create entry and close
                        </button>
                        <button ng-if="editPage" ng-click="saveEntry($event, false)" type="submit" class="btn btn-info">
                            Save entry
                        </button>
                        <button ng-if="editPage" ng-click="saveEntry($event, true)" type="submit" class="btn btn-info">
                            Save entry and close
                        </button>
                    </div>
                </div>

                <div ng-if="previewUrl" class="row">
                    <h3>Preview</h3>
                    <iframe style="min-height: 50rem;" class="col-sm-12" id="iframePreview" ng-src="{{trustSrc(previewUrl)}}">
                    </iframe>
                </div>
            </form>
        </div>
    </div>
    <script type="text/ng-template" id="container_renderer.html">
        <div class="row cont" ng-if="container[0] != undefined && container[0].type == 'container'">
            <label class="col-sm-2 control-label">
                <div ng-if="container[0].multiple == true" class="btn-group">
                    <a class="btn btn-xs btn-info" ng-click="addContainerEntry(container)"><i class="fa fa-plus" aria-hidden="true"></i></a>
                </div>
                {{container[0].label | capitalize}}:
            </label>
            <div class="col-sm-10">
                <div class="panel panel-default" ng-repeat="oneContainer in container track by $index">
                    <div class="panel-body" style="position:relative;">

                            <div class="form-group col-sm-11 l-1" ng-repeat="(key, container) in oneContainer.containers track by $index" ng-include="'container_renderer.html'">
                            </div>
                            <a ng-if="oneContainer.multiple == true && container.length > 1" ng-click="removeContainerEntry(container, $index)">
                                <div class="remove-container-button">
                                    <span class="fa fa-minus remove-container-button-icon" aria-hidden="true"></span>
                                </div>
                            </a>

                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="container[0] != undefined && container[0].type != 'container'">
            <ng-form name="innerForm">
                <label for="{{key}}" class="col-sm-2 control-label">
                    <div ng-if="container[0].multiple == true" class="btn-group">
                        <a class="btn btn-xs btn-info" ng-click="addContainerEntry(container[0])"><i class="fa fa-plus" aria-hidden="true"></i></a>
                    </div>
                    {{container[0].label | capitalize}}<span ng-if="container[0].required">*</span> :
                </label>
                <div class="col-sm-10" ng-class="{'has-error': innerForm.foo.$error.required}" ng-if="container[0].type == 'select'" ng-repeat="oneContainer in container track by $index">
                        <div ng-class="{'input-group' : oneContainer.multiple == true && oneContainer.values.length > 1}" class="m-b-04" ng-repeat="val in oneContainer.values track by $index">
                            <select name="foo" ng-model="oneContainer.values[$index]" id="{{key}}" class="form-control"
                                    ng-required="oneContainer.required || oneContainer.headword=='true'">
                                <option style="display:none" value="">Select {{oneContainer.label}} . . .</option>
                                <option ng-repeat="option in oneContainer.options track by $index" value="{{option}}">{{option}}</option>
                            </select>
                            <span class="input-group-btn" ng-if="oneContainer.multiple == true && oneContainer.values.length > 1">
                                <a class="btn btn-warning" ng-click="removeContainerEntry(oneContainer.values, $index)"><i class="fa fa-minus" aria-hidden="true"></i></a>
                            </span>
                        </div>
                </div>
                <div class="col-sm-10" ng-class="{'has-error': innerForm.foo.$error.required}" ng-if="container[0].type == 'textarea'" ng-repeat="oneContainer in container track by $index">
                        <div ng-class="{'input-group' : oneContainer.multiple == true && oneContainer.values.length > 1}" class="m-b-04" ng-repeat="val in oneContainer.values track by $index">
                            <textarea rows="2" ng-model="oneContainer.values[$index]" change-new-lines="" name="foo"
                                      class="form-control" id="{{key}}"
                                      ng-required="oneContainer.required || oneContainer.headword=='true'"> </textarea>
                            <span class="input-group-btn" ng-if="oneContainer.multiple == true && oneContainer.values.length > 1">
                                <a class="btn btn-warning" ng-click="removeContainerEntry(oneContainer.values, $index)"><i class="fa fa-minus" aria-hidden="true"></i></a>
                            </span>
                        </div>
                </div>
                <div class="col-sm-10" ng-class="{'has-error': innerForm.foo.$error.required}"
                     ng-if="container[0].type == 'crossreference'"
                     ng-repeat="oneContainer in container track by $index">
                    <div ng-class="{'input-group' : oneContainer.multiple == true && oneContainer.values.length > 1}"
                         class="m-b-04" ng-repeat="val in oneContainer.values track by $index">
                        <div class="col-sm-5">
                            <input type="text"
                                   ng-change="loadEntriesForSelect(searchText, key, $index, oneContainer)"
                                   ng-model="searchText" name="foo" class="form-control" id="{{key}}"
                                   ng-required="oneContainer.required || oneContainer.headword=='true'">
                        </div>
                        <div class="col-sm-5" ng-show="(oneContainer.findEntries[$index]).length > 0">
                            <select name="foo" ng-model="(oneContainer.values[$index])" id="{{key}}"
                                    class="form-control"
                                    ng-required="oneContainer.required || oneContainer.headword=='true'">
                                <option style="display:none" value="">Choose entry</option>
                                <option ng-repeat="entry in (oneContainer.findEntries)[$index] track by $index"
                                        value="{{entry.id}}">{{entry.head}}
                                </option>
                            </select>
                        </div>
                        <span class="input-group-btn"
                              ng-if="oneContainer.multiple == true && oneContainer.values.length > 1">
                            <a class="btn btn-warning"
                               ng-click="removeContainerEntry(oneContainer.values, $index);removeContainerEntry(oneContainer.findEntries, $index)"><i
                                    class="fa fa-minus" aria-hidden="true"></i></a>
                        </span>
                    </div>
                </div>
                <div class="col-sm-10" ng-class="{'has-error': innerForm.foo.$error.required}"
                     ng-if="container[0].type != 'select' && container[0].type != 'textarea' && container[0].type != 'crossreference'"
                     ng-repeat="oneContainer in container track by $index">
                    <div ng-class="{'input-group' : oneContainer.multiple == true && oneContainer.values.length > 1}" class="m-b-04" ng-repeat="val in oneContainer.values track by $index">
                        <input ng-if="oneContainer.type == 'file' && ((oneContainer.multiple == true) || ( (oneContainer.multiple == false) && (oneContainer.fileValues).length == 0) )" type="{{oneContainer.type}}"
                               ng-file-model="oneContainer.values[$index]" name="foo" class="form-control" id="{{key}}"
                               ng-required="oneContainer.required || oneContainer.headword=='true'">
                        <input ng-if="oneContainer.type != 'file'" type="{{oneContainer.type}}"
                               ng-model="oneContainer.values[$index]" name="foo" class="form-control" id="{{key}}"
                               ng-required="oneContainer.required || oneContainer.headword=='true'">
                        <span class="input-group-btn" ng-if="oneContainer.multiple == true && oneContainer.values.length > 1">
                            <a class="btn btn-warning" ng-click="removeContainerEntry(oneContainer.values, $index)"><i class="fa fa-minus" aria-hidden="true"></i></a>
                        </span>
                    </div>
                    <div class="clear"></div>
                    <div ng-if="oneContainer.fileValues != undefined && oneContainer.fileValues.length > 0">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <b>Actual files</b>
                            </div>
                            <div class="panel-body">
                                <div class="row p-a-1" ng-repeat="fileValue in oneContainer.fileValues track by $index">
                                    <img width="64" src="https://abulafia.fi.muni.cz:9050/files/{{dictionary.dict_code}}/{{fileValue}}">{{fileValue}} <a class="btn btn-danger" ng-click="removeFile(oneContainer.fileValues, $index)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-form>
        </div>
    </script>

</div>
