<div data-ng-init="init()">

    <a ng-href="#/newDictionary" class="btn btn-primary pull-right">
        <i class="fa fa-plus" aria-hidden="true"></i> Create new dictionary
    </a>

    <div class="clearfix" style="margin-bottom: 1rem;"></div>

    <div class="panel panel-default" ng-show="dictionaries.dict_r.length > 0">
        <div class="panel-heading">
            <h4>Dictionaries for read</h4>
        </div>
        <table st-table="dictionariesRDisplayed" st-safe-src="dictionaries.dict_r" class="table table-striped">
            <thead>
                <tr>
                    <th st-sort="name">Name</th>
                    <th st-sort="code">Code</th>
                    <th class="text-right vtop">Action</th>
                </tr>
                <tr>
                    <td><input st-search="name" placeholder="Search for name . . ." class="form-control"/></td>
                    <td><input st-search="code" placeholder="Search for code . . ." class="form-control"/></td>
                    <td></td>
                </tr>
            </thead>
            <tbody data-link="row" class="rowlink">
                <tr ng-repeat="dictionary in dictionariesRDisplayed">
                    <td><a ng-href="#/dictionaries/{{dictionary.code}}"><strong>{{dictionary.name}}</strong></a></td>
                    <td>{{dictionary.code}}</td>
                    <td class="text-right rowlink-skip">
                        <a ng-href="#/dictionaries/{{dictionary.code}}" class="btn btn-xs btn-default"
                           data-title="Browse dictionary">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </a>
                        <a href="https://abulafia.fi.muni.cz:9050/admin?action=export&code={{dictionary.code}}&format=xml"
                           target="_blank" class="btn btn-xs btn-default" data-title="Export XML">
                            <i class="fa fa-upload" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-center">
                        <div st-pagination="" st-items-by-page="15" st-displayed-pages="10"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="panel panel-default" ng-show="dictionaries.dict_w.length > 0">
        <div class="panel-heading">
            <h4>Dictionaries for write</h4>
        </div>
        <table st-table="dictionariesWDisplayed" st-safe-src="dictionaries.dict_w" class="table table-striped">
            <thead>
                <tr>
                    <th st-sort="name">Name</th>
                    <th st-sort="code">Code</th>
                    <th class="text-right vtop">Action</th>
                </tr>
                <tr>
                    <td><input st-search="name" placeholder="Search for name . . ." class="form-control"/></td>
                    <td><input st-search="code" placeholder="Search for code . . ." class="form-control"/></td>
                    <td></td>
                </tr>
            </thead>
            <tbody data-link="row" class="rowlink">
            <tr ng-repeat="dictionary in dictionariesWDisplayed">
                <td><a ng-href="#/dictionaries/{{dictionary.code}}"><strong>{{dictionary.name}}</strong></a></td>
                <td>{{dictionary.code}}</td>
                <td class="text-right rowlink-skip">
                    <a ng-href="#/dictionaries/{{dictionary.code}}" class="btn btn-xs btn-default"
                       data-title="Browse dictionary">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </a>
                    <a href="https://abulafia.fi.muni.cz:9050/admin?action=export&code={{dictionary.code}}&format=xml"
                       target="_blank" class="btn btn-xs btn-default" data-title="Export XML">
                        <i class="fa fa-upload" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-center">
                        <div st-pagination="" st-items-by-page="15" st-displayed-pages="10"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="panel panel-default" ng-show="dictionaries.dict_m.length > 0">
        <div class="panel-heading">
            <h4>My dictionaries</h4>
        </div>
        <table st-table="dictionariesMDisplayed" st-safe-src="dictionaries.dict_m" class="table table-striped">
            <thead>
                <tr>
                    <th st-sort="name">Name</th>
                    <th st-sort="code">Code</th>
                    <th class="text-right vtop">Action</th>
                </tr>
                <tr>
                    <td><input st-search="name" placeholder="Search for name . . ." class="form-control"/></td>
                    <td><input st-search="code" placeholder="Search for code . . ." class="form-control"/></td>
                    <td></td>
                </tr>
            </thead>
            <tbody data-link="row" class="rowlink">
                <tr ng-repeat="dictionary in dictionariesMDisplayed">
                    <td><a ng-href="#/dictionaries/{{dictionary.code}}"><strong>{{dictionary.name}}</strong></a></td>
                    <td>{{dictionary.code}}</td>
                    <td class="text-right rowlink-skip">
                        <a ng-href="#/dictionaries/{{dictionary.code}}" class="btn btn-xs btn-default"
                           data-title="Browse dictionary">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </a>
                        <a href="https://abulafia.fi.muni.cz:9050/admin?action=export&code={{dictionary.code}}&format=xml"
                           target="_blank" class="btn btn-xs btn-default" data-title="Export XML">
                            <i class="fa fa-upload" aria-hidden="true"></i>
                        </a>
                        <a ng-href="#dictionaries/import/{{dictionary.code}}" class="btn btn-xs btn-default"
                           data-title="Import XML">
                            <i class="fa fa-download" aria-hidden="true"></i>
                        </a>
                        <a ng-href="#/newDictionary/{{dictionary.code}}" class="btn btn-xs btn-info"
                           data-title="Edit settings">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <a ng-click="removeDictionary($event, dictionary.code)" class="btn  btn-xs btn-danger"
                           data-title="Remove dictionary">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-center">
                        <div st-pagination="" st-items-by-page="15" st-displayed-pages="10"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="panel panel-default" ng-show="dictionaries.dict_a.length > 0">
        <div class="panel-heading">
            <h4>Dictionaries</h4>
        </div>
        <table st-table="dictionariesADisplayed" st-safe-src="dictionaries.dict_a" class="table table-striped">
            <thead>
            <tr>
                <th st-sort="name">Name</th>
                <th st-sort="code">Code</th>
                <th class="text-right vtop">Action</th>
            </tr>
            <tr>
                <td><input st-search="name" placeholder="Search for name . . ." class="form-control"/></td>
                <td><input st-search="code" placeholder="Search for code . . ." class="form-control"/></td>
                <td></td>
            </tr>
            </thead>
            <tbody data-link="row" class="rowlink">
            <tr ng-repeat="dictionary in dictionariesADisplayed">
                <td><a ng-href="#/dictionaries/{{dictionary.code}}"><strong>{{dictionary.name}}</strong></a></td>
                <td>{{dictionary.code}}</td>
                <td class="text-right rowlink-skip">
                    <a ng-href="#/dictionaries/{{dictionary.code}}" class="btn btn-xs btn-default"
                       data-title="Browse dictionary">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </a>
                    <a href="https://abulafia.fi.muni.cz:9050/admin?action=export&code={{dictionary.code}}&format=xml"
                       target="_blank" class="btn btn-xs btn-default" data-title="Export XML">
                        <i class="fa fa-upload" aria-hidden="true"></i>
                    </a>
                    <button type="button" class="btn  btn-xs btn-default" data-title="Import XML">
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </button>
                    <a ng-href="#/newDictionary/{{dictionary.code}}" class="btn btn-xs btn-info"
                       data-title="Edit settings">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <a ng-click="removeDictionary($event, dictionary.code)" class="btn btn-xs btn-danger"
                       data-title="Remove dictionary">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-center">
                        <div st-pagination="" st-items-by-page="15" st-displayed-pages="10"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

